In [224]:
pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.8.30)

#making get requset ro the spaceX rest API

In [225]:
import requests
import pandas as pd
from pandas import json_normalize

# Step 1: Fetch launch data from SpaceX API
url = 'https://api.spacexdata.com/v4/launches'
response = requests.get(url)
launches_data = response.json()

# Convert to DataFrame
df_launches = pd.DataFrame(launches_data)

# Step 2: Explode the cores and payloads lists
df_launches_exploded = df_launches.explode('cores').explode('payloads')

# Step 3: Normalize the cores data
df_cores_normalized = json_normalize(df_launches_exploded['cores'])

# Step 4: Normalize the payloads data
df_payloads_normalized = json_normalize(df_launches_exploded['payloads'])

# Step 5: Combine all DataFrames
df_combined = df_launches_exploded.drop(columns=['cores']).reset_index(drop=True)

# Concatenate the launch data with normalized cores and payloads
df = pd.concat([df_combined, df_cores_normalized.reset_index(drop=True), df_payloads_normalized.reset_index(drop=True)], axis=1)

# Display the final DataFrame structure
print(df.columns)  # List all columns to verify presence of payloads
print(df)   # Display first few records

Index(['fairings', 'links', 'static_fire_date_utc', 'static_fire_date_unix',
       'net', 'window', 'rocket', 'success', 'failures', 'details', 'crew',
       'ships', 'capsules', 'payloads', 'launchpad', 'flight_number', 'name',
       'date_utc', 'date_unix', 'date_local', 'date_precision', 'upcoming',
       'auto_update', 'tbd', 'launch_library_id', 'id', 'core', 'flight',
       'gridfins', 'legs', 'reused', 'landing_attempt', 'landing_success',
       'landing_type', 'landpad'],
      dtype='object')
                                              fairings  \
0    {'reused': False, 'recovery_attempt': False, '...
1    {'reused': False, 'recovery_attempt': False, '...
2    {'reused': False, 'recovery_attempt': False, '...
3    {'reused': False, 'recovery_attempt': False, '...
4    {'reused': False, 'recovery_attempt': False, '...
..                                                 ...
269  {'reused': None, 'recovery_attempt': None, 're...
270  {'reused': None, 'recovery_attempt': None, 're...
271  {'reused': None, 'recovery_attempt': None, 're...
272  {'reused': None, 'recovery_attempt': None, 're...
273  {'reused': None, 'recovery_attempt': None, 're...

                                                 links  \
0    {'patch': {'small': 'https://images2.imgbox.co...
1    {'patch': {'small': 'https://images2.imgbox.co...
2    {'patch': {'small': 'https://images2.imgbox.co...
3    {'patch': {'small': 'https://images2.imgbox.co...
4    {'patch': {'small': 'https://images2.imgbox.co...
..                                                 ...
269  {'patch': {'small': None, 'large': None}, 'red...
270  {'patch': {'small': None, 'large': None}, 'red...
271  {'patch': {'small': None, 'large': None}, 'red...
272  {'patch': {'small': None, 'large': None}, 'red...
273  {'patch': {'small': None, 'large': None}, 'red...

         static_fire_date_utc  static_fire_date_unix    net  window  \
0    2006-03-17T00:00:00.000Z           1.142554e+09  False     0.0
1                        None                    NaN  False     0.0
2                        None                    NaN  False     0.0
3                        None                    NaN  False     0.0
4    2008-09-20T00:00:00.000Z           1.221869e+09  False     0.0
..                        ...                    ...    ...     ...
269                      None                    NaN  False     NaN
270                      None                    NaN  False     NaN
271                      None                    NaN  False     NaN
272                      None                    NaN  False     NaN
273                      None                    NaN  False     NaN

                       rocket success  \
0    5e9d0d95eda69955f709d1eb   False
1    5e9d0d95eda69955f709d1eb   False
2    5e9d0d95eda69955f709d1eb   False
3    5e9d0d95eda69955f709d1eb   False
4    5e9d0d95eda69955f709d1eb    True
..                        ...     ...
269  5e9d0d95eda69973a809d1ec    None
270  5e9d0d95eda69974db09d1ed    None
271  5e9d0d95eda69974db09d1ed    None
272  5e9d0d95eda69974db09d1ed    None
273  5e9d0d95eda69973a809d1ec    None

                                              failures  \
0    [{'time': 33, 'altitude': None, 'reason': 'mer...
1    [{'time': 301, 'altitude': 289, 'reason': 'har...
2    [{'time': 140, 'altitude': 35, 'reason': 'resi...
3    [{'time': 140, 'altitude': 35, 'reason': 'resi...
4                                                   []
..                                                 ...
269                                                 []
270                                                 []
271                                                 []
272                                                 []
273                                                 []

                                               details  ...  \
0     Engine failure at 33 seconds and loss of vehicle  ...
1    Successful first stage burn and transition to ...  ...
2    Residual stage 1 thrust led to collision betwe...  ...
3    Residual stage 1 thrust led to collision betwe...  ...
4    Ratsat was carried to orbit on the first succe...  ...
..                                                 ...  ...
269                                               None  ...
270                                               None  ...
271                                               None  ...
272                                               None  ...
273                                               None  ...

                           id                      core flight gridfins  \
0    5eb87cd9ffd86e000604b32a  5e9e289df35918033d3b2623    1.0    False
1    5eb87cdaffd86e000604b32b  5e9e289ef35918416a3b2624    1.0    False
2    5eb87cdbffd86e000604b32c  5e9e289ef3591814873b2625    1.0    False
3    5eb87cdbffd86e000604b32c  5e9e289ef3591814873b2625    1.0    False
4    5eb87cdbffd86e000604b32d  5e9e289ef3591855dc3b2626    1.0    False
..                        ...                       ...    ...      ...
269  6243ae58af52800c6e91925a                      None    NaN     None
270  633f72130531f07b4fdf59c3                      None    NaN     True
271  633f72130531f07b4fdf59c3                      None    NaN     True
272  633f72130531f07b4fdf59c3                      None    NaN     True
273  6243ae7daf52800c6e91925b                      None    NaN     None

      legs  reused landing_attempt landing_success  landing_type landpad
0    False   False           False            None          None    None
1    False   False           False            None          None    None
2    False   False           False            None          None    None
3    False   False           False            None          None    None
4    False   False           False            None          None    None
..     ...     ...             ...             ...           ...     ...
269   None    None            None            None          None    None
270   True   False            None            None          None    None
271   True   False            None            None          None    None
272   True   False            None            None          None    None
273   None    None            None            None          None    None

[274 rows x 35 columns]

In [226]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fairings               236 non-null    object
 1   links                  274 non-null    object
 2   static_fire_date_utc   181 non-null    object
 3   static_fire_date_unix  181 non-null    float64
 4   net                    274 non-null    bool
 5   window                 180 non-null    float64
 6   rocket                 274 non-null    object
 7   success                251 non-null    object
 8   failures               274 non-null    object
 9   details                196 non-null    object
 10  crew                   274 non-null    object
 11  ships                  274 non-null    object
 12  capsules               274 non-null    object
 13  payloads               260 non-null    object
 14  launchpad              274 non-null    object
 15  flight_number          274 non-null    int64
 16  name                   274 non-null    object
 17  date_utc               274 non-null    object
 18  date_unix              274 non-null    int64
 19  date_local             274 non-null    object
 20  date_precision         274 non-null    object
 21  upcoming               274 non-null    bool
 22  auto_update            274 non-null    bool
 23  tbd                    274 non-null    bool
 24  launch_library_id      77 non-null     object
 25  id                     274 non-null    object
 26  core                   255 non-null    object
 27  flight                 255 non-null    float64
 28  gridfins               268 non-null    object
 29  legs                   268 non-null    object
 30  reused                 268 non-null    object
 31  landing_attempt        252 non-null    object
 32  landing_success        215 non-null    object
 33  landing_type           217 non-null    object
 34  landpad                210 non-null    object
dtypes: bool(4), float64(3), int64(2), object(26)
memory usage: 67.6+ KB

In [227]:
df=df[['rocket','success','date_utc','payloads','launchpad','landing_type']]
df.head()

,rocket,success,date_utc,payloads,launchpad,landing_type
0,5e9d0d95eda69955f709d1eb,False,2006-03-24T22:30:00.000Z,5eb0e4b5b6c3bb0006eeb1e1,5e9e4502f5090995de566f86,None
1,5e9d0d95eda69955f709d1eb,False,2007-03-21T01:10:00.000Z,5eb0e4b6b6c3bb0006eeb1e2,5e9e4502f5090995de566f86,None
2,5e9d0d95eda69955f709d1eb,False,2008-08-03T03:34:00.000Z,5eb0e4b6b6c3bb0006eeb1e3,5e9e4502f5090995de566f86,None
3,5e9d0d95eda69955f709d1eb,False,2008-08-03T03:34:00.000Z,5eb0e4b6b6c3bb0006eeb1e4,5e9e4502f5090995de566f86,None
4,5e9d0d95eda69955f709d1eb,True,2008-09-28T23:15:00.000Z,5eb0e4b7b6c3bb0006eeb1e5,5e9e4502f5090995de566f86,None

In [228]:
import requests
import pandas as pd

# Fetch rocket details from SpaceX API
url = 'https://api.spacexdata.com/v4/rockets'
response = requests.get(url)
rockets_data = response.json()

# Convert rocket data to a DataFrame
df_rockets = pd.DataFrame(rockets_data)

# Display columns of the rockets DataFrame
print(df_rockets.columns)

# Display key rocket information, such as rocket ID and name
print(df_rockets[['id', 'name', 'type']])

#rename column
df_rockets.rename(columns={'name': 'booster_version','type' : 'booster_type'}, inplace=True)
df_rockets=df_rockets[['id','booster_version','booster_type']]
df_rockets.head()

Index(['height', 'diameter', 'mass', 'first_stage', 'second_stage', 'engines',
       'landing_legs', 'payload_weights', 'flickr_images', 'name', 'type',
       'active', 'stages', 'boosters', 'cost_per_launch', 'success_rate_pct',
       'first_flight', 'country', 'company', 'wikipedia', 'description', 'id'],
      dtype='object')
                         id          name    type
0  5e9d0d95eda69955f709d1eb      Falcon 1  rocket
1  5e9d0d95eda69973a809d1ec      Falcon 9  rocket
2  5e9d0d95eda69974db09d1ed  Falcon Heavy  rocket
3  5e9d0d96eda699382d09d1ee      Starship  rocket

                         id booster_version booster_type
0  5e9d0d95eda69955f709d1eb        Falcon 1       rocket
1  5e9d0d95eda69973a809d1ec        Falcon 9       rocket
2  5e9d0d95eda69974db09d1ed    Falcon Heavy       rocket
3  5e9d0d96eda699382d09d1ee        Starship       rocket

In [229]:
import requests
import pandas as pd

# Step 1: Get all launches
launches_url = "https://api.spacexdata.com/v4/launches/"
response = requests.get(launches_url)

# Check if the request was successful
if response.status_code == 200:
    launches = response.json()

    # Step 2: Collect all payload IDs
    payload_ids = []
    for launch in launches:
        payload_ids.extend(launch['payloads'])  # Collect payload IDs from each launch

    # Step 3: Fetch details for each unique payload ID
    payloads_data = []
    unique_payload_ids = set(payload_ids)  # Use a set to avoid duplicates

    for payload_id in unique_payload_ids:
        payload_url = f"https://api.spacexdata.com/v4/payloads/{payload_id}"
        payload_response = requests.get(payload_url)

        if payload_response.status_code == 200:
            payload_data = payload_response.json()
            payloads_data.append(payload_data)  # Add the payload details to the list
        else:
            print(f"Failed to retrieve payload details for ID {payload_id}. Status code: {payload_response.status_code}")

    # Step 4: Convert the list of payload details into a DataFrame
    df_payloads = pd.DataFrame(payloads_data)

    # Display the DataFrame
    print(df_payloads)
else:
    print(f"Failed to retrieve launches. Status code: {response.status_code}")

                                                dragon  \
0    {'capsule': None, 'mass_returned_kg': None, 'm...
1    {'capsule': None, 'mass_returned_kg': None, 'm...
2    {'capsule': None, 'mass_returned_kg': None, 'm...
3    {'capsule': None, 'mass_returned_kg': None, 'm...
4    {'capsule': '5e9e2c5cf3591885d43b266d', 'mass_...
..                                                 ...
215  {'capsule': None, 'mass_returned_kg': None, 'm...
216  {'capsule': None, 'mass_returned_kg': None, 'm...
217  {'capsule': None, 'mass_returned_kg': None, 'm...
218  {'capsule': None, 'mass_returned_kg': None, 'm...
219  {'capsule': None, 'mass_returned_kg': None, 'm...

                        name        type  reused                    launch  \
0    GPS III SV03 (Columbus)   Satellite   False  5eb87d4affd86e000604b38b
1                Telstar 18V   Satellite   False  5eb87d22ffd86e000604b36d
2        Starlink 2-1 (v1.5)   Satellite   False  60e3bf0d73359e1e20335c37
3             Iridium NEXT 6   Satellite   False  5eb87d1affd86e000604b367
4                     CRS-14  Dragon 1.1    True  5eb87d16ffd86e000604b364
..                       ...         ...     ...                       ...
215               Starlink-7   Satellite   False  5eb87d45ffd86e000604b387
216               Starlink-3   Satellite   False  5eb87d3fffd86e000604b382
217                 GovSat-1   Satellite   False  5eb87d11ffd86e000604b35f
218                     TESS   Satellite   False  5eb87d18ffd86e000604b365
219              Starlink-24   Satellite   False  605b4b6aaa5433645e37d03f

                    customers  \
0                      [USAF]
1                   [Telesat]
2                    [SpaceX]
3    [Iridium Communications]
4                [NASA (CRS)]
..                        ...
215                  [SpaceX]
216                  [SpaceX]
217                  [GovSat]
218                    [NASA]
219                  [SpaceX]

                                             norad_ids    nationalities  \
0                                                   []  [United States]
1                                              [43611]         [Canada]
2                                                   []  [United States]
3                  [43478, 43479, 43480, 43481, 43482]  [United States]
4                                              [43267]  [United States]
..                                                 ...              ...
215  [45657, 45658, 45659, 45660, 45661, 45662, 456...  [United States]
216  [45044, 45045, 45046, 45047, 45048, 45049, 450...  [United States]
217                                            [43178]     [Luxembourg]
218                                            [43435]  [United States]
219                                                 []  [United States]

             manufacturers  mass_kg  ...  apoapsis_km inclination_deg  \
0        [Lockheed Martin]   3880.0  ...          NaN             NaN
1                    [SSL]   7060.0  ...    35794.963          0.0183
2                 [SpaceX]  15600.0  ...          NaN             NaN
3    [Thales Alenia Space]   4300.0  ...      749.004         86.4486
4                 [SpaceX]   2760.0  ...      356.600         51.6437
..                     ...      ...  ...          ...             ...
215               [SpaceX]  15600.0  ...      166.255         53.0001
216               [SpaceX]  15600.0  ...      548.405         53.0548
217          [Orbital ATK]   4230.0  ...          NaN             NaN
218          [Orbital ATK]    350.0  ...   366725.403         32.6631
219               [SpaceX]  15600.0  ...          NaN             NaN

    period_min lifespan_years                     epoch  mean_motion  \
0          NaN           15.0                      None          NaN
1     1436.122           15.0  2022-11-30T12:02:42.000Z     1.002700
2          NaN            NaN                      None          NaN
3       99.773           15.0  2022-11-30T06:38:48.000Z    14.432763
4       90.117            NaN  2018-04-02T20:54:48.000Z    15.979211
..         ...            ...                       ...          ...
215     87.445            NaN  2020-07-14T14:23:37.000Z    16.467357
216     95.592            NaN  2022-11-30T03:33:43.000Z    15.063962
217        NaN           15.0                      None          NaN
218  20523.038           10.0  2022-11-13T02:03:51.000Z     0.070165
219        NaN            NaN                      None          NaN

         raan  arg_of_pericenter  mean_anomaly                        id
0         NaN                NaN           NaN  5eb0e4d2b6c3bb0006eeb25c
1    331.1443           266.8977      150.0027  5eb0e4c9b6c3bb0006eeb22b
2         NaN                NaN           NaN  60e3bf3373359e1e20335c3c
3    269.5789            87.4192      272.7219  5eb0e4c7b6c3bb0006eeb224
4     34.3281            48.6187       62.8495  5eb0e4c7b6c3bb0006eeb221
..        ...                ...           ...                       ...
215  319.7129           181.2741      293.9291  5eb0e4d1b6c3bb0006eeb256
216  233.6086            58.6593      301.4563  5eb0e4d0b6c3bb0006eeb251
217       NaN                NaN           NaN  5eb0e4c6b6c3bb0006eeb21b
218   79.8977           174.9798        5.7045  5eb0e4c7b6c3bb0006eeb222
219       NaN                NaN           NaN  605b4be3aa5433645e37d046

[220 rows x 28 columns]

In [230]:
df_payloads.rename(columns={'name': 'payload_name','mass_kg' : 'payload_mass_kg'}, inplace=True)
df_payloads=df_payloads[['id','payload_name','payload_mass_kg','orbit','customers']]
df_payloads.head()

,id,payload_name,payload_mass_kg,orbit,customers
0,5eb0e4d2b6c3bb0006eeb25c,GPS III SV03 (Columbus),3880.0,MEO,[USAF]
1,5eb0e4c9b6c3bb0006eeb22b,Telstar 18V,7060.0,GTO,[Telesat]
2,60e3bf3373359e1e20335c3c,Starlink 2-1 (v1.5),15600.0,PO,[SpaceX]
3,5eb0e4c7b6c3bb0006eeb224,Iridium NEXT 6,4300.0,PO,[Iridium Communications]
4,5eb0e4c7b6c3bb0006eeb221,CRS-14,2760.0,ISS,[NASA (CRS)]

In [231]:
import requests
import pandas as pd

# Step 1: Fetch the launches data to get launchpad IDs
launches_url = "https://api.spacexdata.com/v4/launches"
launch_data = requests.get(launches_url).json()

# Step 2: Extract unique launchpad IDs from launch data
launchpad_ids = set(launch['launchpad'] for launch in launch_data)

# Step 3: Function to get the launchpad details using the ID
def get_launchpad_name(launchpad_id):
    launchpad_url = f"https://api.spacexdata.com/v4/launchpads/{launchpad_id}"
    response = requests.get(launchpad_url).json()
    return {'id': launchpad_id, 'name': response['name'], 'locality': response['locality']}

# Step 4: Fetch the names of launchpads using their IDs
launchpad_details = [get_launchpad_name(launchpad_id) for launchpad_id in launchpad_ids]

# Convert to DataFrame for easier handling
df_launchpads = pd.DataFrame(launchpad_details)
df_launchpads = df_launchpads.rename(columns={'name': 'launch_site'})


df_launchpads=df_launchpads[['id','launch_site','locality']]
df_launchpads.head()

                         id      launch_site                     locality
0  5e9e4502f5090995de566f86  Kwajalein Atoll                Omelek Island
1  5e9e4502f509092b78566f87      VAFB SLC 4E  Vandenberg Space Force Base
2  5e9e4501f509094ba4566f84     CCSFS SLC 40               Cape Canaveral
3  5e9e4502f509094188566f88       KSC LC 39A               Cape Canaveral

#Join

In [232]:
df_final = pd.merge(df, df_payloads, left_on='payloads', right_on='id', how='inner')
df_final = pd.merge(df_final,df_launchpads,left_on='launchpad',right_on='id',how='inner')
df_final = pd.merge(df_final,df_rockets,left_on='rocket',right_on='id',how='inner')
df_final['date'] = pd.to_datetime(df['date_utc'])
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rocket           260 non-null    object
 1   success          251 non-null    object
 2   date_utc         260 non-null    object
 3   payloads         260 non-null    object
 4   launchpad        260 non-null    object
 5   landing_type     217 non-null    object
 6   id_x             260 non-null    object
 7   payload_name     260 non-null    object
 8   payload_mass_kg  230 non-null    float64
 9   orbit            259 non-null    object
 10  customers        260 non-null    object
 11  id_y             260 non-null    object
 12  launch_site      260 non-null    object
 13  locality         260 non-null    object
 14  id               260 non-null    object
 15  booster_version  260 non-null    object
 16  booster_type     260 non-null    object
 17  date             260 non-null    datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(1), object(16)
memory usage: 36.7+ KB

In [233]:
df_final_clean=df_final.drop(['rocket','payloads','launchpad','id','id_x','id_y'],axis=1)
df_final_clean.head()

,success,date_utc,landing_type,payload_name,payload_mass_kg,orbit,customers,launch_site,locality,booster_version,booster_type,date
0,False,2006-03-24T22:30:00.000Z,None,FalconSAT-2,20.0,LEO,[DARPA],Kwajalein Atoll,Omelek Island,Falcon 1,rocket,2006-03-24 22:30:00+00:00
1,False,2007-03-21T01:10:00.000Z,None,DemoSAT,NaN,LEO,[DARPA],Kwajalein Atoll,Omelek Island,Falcon 1,rocket,2007-03-21 01:10:00+00:00
2,False,2008-08-03T03:34:00.000Z,None,Trailblazer,NaN,LEO,[NASA],Kwajalein Atoll,Omelek Island,Falcon 1,rocket,2008-08-03 03:34:00+00:00
3,False,2008-08-03T03:34:00.000Z,None,PRESat,NaN,LEO,[ORS],Kwajalein Atoll,Omelek Island,Falcon 1,rocket,2008-08-03 03:34:00+00:00
4,True,2008-09-28T23:15:00.000Z,None,RatSat,165.0,LEO,[SpaceX],Kwajalein Atoll,Omelek Island,Falcon 1,rocket,2008-09-28 23:15:00+00:00

#Data_wrangling

In [234]:
df_final_clean.isnull().sum()

success             9
date_utc            0
landing_type       43
payload_name        0
payload_mass_kg    30
orbit               1
customers           0
launch_site         0
locality            0
booster_version     0
booster_type        0
date                0
dtype: int64

In [235]:
df_final_clean=df_final_clean.fillna({'landing_type':'None'})
df_final_clean = df_final_clean.dropna()
df_final_clean.isnull().sum()

success            0
date_utc           0
landing_type       0
payload_name       0
payload_mass_kg    0
orbit              0
customers          0
launch_site        0
locality           0
booster_version    0
booster_type       0
date               0
dtype: int64

using the .value_counts() to determine :-

In [236]:
# launches in each site
df_final_clean['launch_site'].value_counts()

launch_site
KSC LC 39A         97
CCSFS SLC 40       96
VAFB SLC 4E        27
Kwajalein Atoll     3
Name: count, dtype: int64

In [237]:
# number and occurrence of each orbit
df_final_clean['orbit'].value_counts()

orbit
VLEO     59
LEO      57
GTO      41
ISS      25
PO       15
SSO      10
MEO       8
HCO       3
TLI       2
ES-L1     1
HEO       1
GEO       1
Name: count, dtype: int64

In [238]:
#number and occurrence of mission outcome per orbit type
outcome_counts = df_final_clean.groupby(['orbit','success']).size().reset_index(name='count')
print("Number and occurrence of mission outcome per orbit type:")
print(outcome_counts)

Number and occurrence of mission outcome per orbit type:
    orbit  success  count
0   ES-L1     True      1
1     GEO     True      1
2     GTO    False      1
3     GTO     True     40
4     HCO     True      3
5     HEO     True      1
6     ISS    False      1
7     ISS     True     24
8     LEO    False      1
9     LEO     True     56
10    MEO     True      8
11     PO     True     15
12    SSO     True     10
13    TLI     True      2
14   VLEO     True     59

Creating a landing outcome label that shows the following:- 0 when the booster did not land successfully 1 when the booster did land successfully

In [239]:
df_final_clean['landing'] = df_final_clean['success'].astype(int)
df_final_clean.head()

,success,date_utc,landing_type,payload_name,payload_mass_kg,orbit,customers,launch_site,locality,booster_version,booster_type,date,landing
0,False,2006-03-24T22:30:00.000Z,None,FalconSAT-2,20.0,LEO,[DARPA],Kwajalein Atoll,Omelek Island,Falcon 1,rocket,2006-03-24 22:30:00+00:00,0
4,True,2008-09-28T23:15:00.000Z,None,RatSat,165.0,LEO,[SpaceX],Kwajalein Atoll,Omelek Island,Falcon 1,rocket,2008-09-28 23:15:00+00:00,1
5,True,2009-07-13T03:35:00.000Z,None,RazakSAT,200.0,LEO,[ATSB],Kwajalein Atoll,Omelek Island,Falcon 1,rocket,2009-07-13 03:35:00+00:00,1
9,True,2012-05-22T07:44:00.000Z,None,COTS Demo Flight 2,525.0,LEO,[NASA(COTS)],CCSFS SLC 40,Cape Canaveral,Falcon 9,rocket,2012-05-22 07:44:00+00:00,1
10,True,2012-10-08T00:35:00.000Z,None,CRS-1,400.0,ISS,[NASA (CRS)],CCSFS SLC 40,Cape Canaveral,Falcon 9,rocket,2012-10-08 00:35:00+00:00,1

#Using SQL quries to manipulate data

In [254]:
import json
# Convert complex types (e.g., lists, dictionaries) to strings
df_final_clean['customers'] = df_final_clean['customers'].apply(lambda x: json.dumps(x) if isinstance(x, (list, dict)) else x)
df_final_clean['customers'] = df_final_clean['customers'].str.replace(r'[\[\]]', '', regex=True)
df_final_clean['customers'] = df_final_clean['customers'].str.replace('"', '', regex=False)
df_final_clean.head()

,success,date_utc,landing_type,payload_name,payload_mass_kg,orbit,customers,launch_site,locality,booster_version,booster_type,date,landing
0,False,2006-03-24T22:30:00.000Z,None,FalconSAT-2,20.0,LEO,DARPA,Kwajalein Atoll,Omelek Island,Falcon 1,rocket,2006-03-24 22:30:00+00:00,0
4,True,2008-09-28T23:15:00.000Z,None,RatSat,165.0,LEO,SpaceX,Kwajalein Atoll,Omelek Island,Falcon 1,rocket,2008-09-28 23:15:00+00:00,1
5,True,2009-07-13T03:35:00.000Z,None,RazakSAT,200.0,LEO,ATSB,Kwajalein Atoll,Omelek Island,Falcon 1,rocket,2009-07-13 03:35:00+00:00,1
9,True,2012-05-22T07:44:00.000Z,None,COTS Demo Flight 2,525.0,LEO,NASA(COTS),CCSFS SLC 40,Cape Canaveral,Falcon 9,rocket,2012-05-22 07:44:00+00:00,1
10,True,2012-10-08T00:35:00.000Z,None,CRS-1,400.0,ISS,NASA (CRS),CCSFS SLC 40,Cape Canaveral,Falcon 9,rocket,2012-10-08 00:35:00+00:00,1

In [241]:
import sqlite3
conn = sqlite3.connect(':memory:')
df_final_clean.to_sql('missions', conn, index=False, if_exists='replace')
cur = conn.cursor()

1-display the names of unique launch sites

In [242]:
query = "SELECT distinct launch_site FROM missions;"
unique_launchsite = pd.read_sql_query(query, conn)
print(unique_launchsite)

       launch_site
0  Kwajalein Atoll
1     CCSFS SLC 40
2      VAFB SLC 4E
3       KSC LC 39A

2-display 5 records where launch site begin with 'cca'

In [243]:
query = "SELECT launch_site FROM missions where launch_site like'CCA%';"
select_cca = pd.read_sql_query(query, conn)
print(select_cca)

Empty DataFrame
Columns: [launch_site]
Index: []

3-the total payload mass carried by boosters launched by NASA

In [245]:
query = "SELECT sum(payload_mass_kg) FROM missions where customers='NASA (CRS)';"
totalpayload_nasa = pd.read_sql_query(query, conn)
print(totalpayload_nasa)

   sum(payload_mass_kg)
0               53794.7

4-display the average payload mass carried by booster version F9 v1.1

In [249]:
query = "SELECT booster_version FROM missions where booster_version like 'Falcon 9%';"
versF9 = pd.read_sql_query(query, conn)
print(versF9)

    booster_version
0          Falcon 9
1          Falcon 9
2          Falcon 9
3          Falcon 9
4          Falcon 9
..              ...
161        Falcon 9
162        Falcon 9
163        Falcon 9
164        Falcon 9
165        Falcon 9

[166 rows x 1 columns]

5-list the date when the first successful landing outcome in ground pad was acheived.

In [252]:
query = "SELECT date FROM missions where landing =1 limit 1;"
date = pd.read_sql_query(query, conn)
print(date)

                        date
0  2008-09-28 23:15:00+00:00

6-list name of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [257]:
query = "SELECT booster_version FROM missions where landing =1 and landing_type = 'ASDS' and payload_mass_kg between 4000 and 6000;"
boosters = pd.read_sql_query(query, conn)
print(boosters)

  booster_version
0        Falcon 9
1        Falcon 9
2        Falcon 9
3        Falcon 9
4        Falcon 9
5        Falcon 9
6        Falcon 9
7        Falcon 9
8        Falcon 9
9    Falcon Heavy

7-list the total number of successful and failure mission outcomes

In [258]:
query = "SELECT success, count(*) FROM missions group by success;"
success = pd.read_sql_query(query, conn)
print(success)

   success  count(*)
0        0         3
1        1       220

8-list the names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [259]:
query = "SELECT booster_version FROM missions where payload_mass_kg = (select max(payload_mass_kg) from missions);"
booster_max = pd.read_sql_query(query, conn)
print(booster_max)

   booster_version
0         Falcon 9
1         Falcon 9
2         Falcon 9
3         Falcon 9
4         Falcon 9
5         Falcon 9
6         Falcon 9
7         Falcon 9
8         Falcon 9
9         Falcon 9
10        Falcon 9
11        Falcon 9
12        Falcon 9
13        Falcon 9
14        Falcon 9
15        Falcon 9
16        Falcon 9
17        Falcon 9
18        Falcon 9
19        Falcon 9
20        Falcon 9
21        Falcon 9
22        Falcon 9
23        Falcon 9
24        Falcon 9
25        Falcon 9
26        Falcon 9
27        Falcon 9

9-list the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [261]:
query = "SELECT date, landing_type, booster_version, launch_site FROM missions where landing =0 and landing_type = 'ASDS' and date like '2015%';"
failed_outcomes = pd.read_sql_query(query, conn)
print(failed_outcomes)

                        date landing_type booster_version   launch_site
0  2015-04-27 23:03:00+00:00         ASDS        Falcon 9  CCSFS SLC 40

10-rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [262]:
query = "SELECT landing, count(*) FROM missions where date between '2010-06-04' and '2017-03-20' group by landing order by landing desc;"
rank = pd.read_sql_query(query, conn)
print(rank)

   landing  count(*)
0        1        30
1        0         2